@import url(colors.css);

#search {
    background: var(--bg-search);
    padding: 10px;
    margin: 10px 20px;
    margin-bottom: 0;
    border-radius: 26px;
    display: flex;
    flex-direction: column;  
    border: 2px var(--border-search) solid;
}

#search-row-1, #search-row-2 {
    display: flex;
    flex-direction: row;
}

@media (max-width: 560px) {
    #search-row-1 {
        flex-direction: column;
    }

    #search-wrapper {
        margin-bottom: 6px;
    }
}

#search {
    position: sticky;
    top: 10px;
    z-index: 1000000;
}

#startpage-search, #startpage-sort {
    border: 2px var(--border-search-button) solid;
    background: var(--bg-search-button);
    padding: 10px;
    border-radius: 16px;
    font-size: 16px;
    outline: none;
    color: var(--icon-text-primary);
}

@media (prefers-color-scheme: dark) {
.icon-link img {
    filter: invert(0);
}
}

#search-x {
    background: var(--bg-search-button) !important;
}

.search-prop-label {
    color: var(--icon-text-primary);
}

#startpage-search {
    width: 100%;
}

#startpage-search:focus {
    border: 2px var(--border-search) solid;
}

#startpage-sort {
    background: var(--bg-search-button);
    padding: 10px;
    border-radius: 16px;
    border: 2px var(--border-search-button) solid;
}

.search-icon {
    width: 24px;
    height: 24px;
    transform: translateX(-34px) translateY(30%);
    color: var(--search-icon);
    pointer-events: none;
}

.search-prop {
    font-size: 16px;
    margin: 5px;
}

.search-row {
    margin: 5px 0;
}

.search-item {
    margin-right: 5px;
}

#tag-list {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    width: 100%;
    white-space: nowrap;
    align-items: center;
    margin-top: 7px;
    margin-left: -40px;
    border-radius: 20px;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-search);

}

.tag {
    flex-shrink: 0;
    cursor: pointer;
}

#search-wrapper {
    width: 100%;
    position: relative;
    margin-right: 6px;
}

#search-x {
    position: absolute;
    right: 8px;
    top: 8px;
    background: #FAFAFA;
    width: 30px;
    height: 30px;
    border: none;
    color: var(--search-icon);
    cursor: pointer;
}

#collapse-btn {
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 42px;
    height: 24px;
    background: var(--bg-search-button);
    border: 2px solid var(--border-search);
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(-50%)
}

#collapse-btn svg {
    margin: auto;
    color: var(--search-icon);
}

.lucide-chevrons-up-down {
    display: none;
}

@media (max-width: 610px) {
   #search-row-2 {
    flex-direction: column !important;
}

#tag-list {
    margin-left: 0px;
}
}